<div class="container body-content">
    <div class="row">

            <div class="col-md-12" id="home">
                <article>
                    <header>
                        <h2>Welcome to my Node Application</h2>
                    </header>

                    <p>This is a simple Web Application created with Node.js</p>
                    <p>It will allow you to create an account, login and change your password, when logged in. It will also allow you to login with your Facebook account, in which case you will not be able to change your password! :)</p>

                </article>
            </div>

    </div>
</div>