<div class="container body-content">
    <div class="row">

            <div class="col-md-12" id="home">
                <article>
                    <header>
                        <h2>Welcome to my Node Application</h2>
                    </header>

                    <p>This is just a simple info page to say hello. So.. Hello!</p>

                </article>
            </div>

    </div>
</div>